@media (min-width: 768px) {
  .wrapper-item {
    display: flex;
  }
}

.cart {
  position: absolute;
  right: 1%;
  top: 20px;
}
.cart-wrapper-item {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
